<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <!--===================================================================    -->
    
    <servlet>
        <servlet-name>HttpSession</servlet-name>
        <servlet-class>com.session.http.HttpSessionMgt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSession</servlet-name>
        <url-pattern> /login</url-pattern>
    </servlet-mapping>
    
    <!--===================================================================    -->
    
    <servlet>
        <servlet-name>HttpSessionProfile</servlet-name>
        <servlet-class>com.session.http.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionProfile</servlet-name>
        <url-pattern> /Profile</url-pattern>
    </servlet-mapping>
    
   <!--===================================================================    -->

    <servlet>
        <servlet-name>HttpSessionLogout</servlet-name>
        <servlet-class>com.session.http.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HttpSessionLogout</servlet-name>
        <url-pattern> /Logout</url-pattern>
    </servlet-mapping>
    
    <!--===================================================================    -->
    
    <welcome-file-list>
        <welcome-file>Login.html</welcome-file>
    </welcome-file-list>
    
</web-app>
