<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>com.session.cookie.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    
<!--    ===========================================================-->
    
    <servlet>
        <servlet-name>cookieSession</servlet-name>
        <servlet-class>com.session.cookie.CookieMgt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieSession</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    
<!--    ===========================================================-->

<servlet>
        <servlet-name>cookieSessionProfile</servlet-name>
        <servlet-class>com.session.cookie.Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieSessionProfile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    
<!--    ===========================================================-->

<servlet>
        <servlet-name>cookieSessionLogout</servlet-name>
        <servlet-class>com.session.cookie.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cookieSessionLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
</web-app>
